.search-header{
    display: flex;
    flex-direction: column;
    max-width: 45%;
    margin:10px auto;
    position: relative;
}

.search-header.focus{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hide-mouse{
    pointer-events: none;
}
.show-mouse{
    pointer-events: all;
}

.search-header > ul{
    list-style: none;
    margin:0;
    margin-top:1px;
    margin-left:-1px;
    padding: 0;
    display: none;
    max-height: 350px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    border: none;
}

.search-header > ul::-webkit-scrollbar{
    width:5px;
}
.search-header > ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.search-header > ul::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.search-header > ul > li{
    padding:10px 0;
    height: auto;
    padding-left:10px;
    border-bottom:1px solid rgba(0, 0, 0, 0.2);
    /* border-bottom:none; */
}

.search-header > ul > li.no-result{
    height: 100px;
    color:slategray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-header > ul.no-scroll{
    overflow: hidden;
    position: relative;
}

.search-header > ul > li:focus{
    background:rgb(255,253,223);
    cursor: pointer;
}

.search-header > ul > span{
    position: absolute;
    right:0;
    top:-20px;
    z-index:100;
}



.search-header > ul > li.active{
    background-color: rgb(255,253,223);
}

.search-header > input:focus + ul{
    display: block;
    transition: width .44s ease-in;
}

.search-header > ul > li:last-child{
    border-bottom:1px solid rgba(0, 0, 0, 0.2);
}
.search-header > ul > li:first-child{
    border-top:1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width:768px){
    .search-header{
        max-width:80%;
    }
}

@media screen and (max-width:1200px){
    .search-header{
        max-width: 70%;
    }
}